<button class="base menu-item-pin{{#if _isVisited}} visited{{/if}}{{#if _isComplete}} complete{{/if}} a11y-ignore" style="background-image: url('{{_dragMenuItem._icon}}'); top: {{_dragMenuItem._position._top}}%; left: {{_dragMenuItem._position._left}}%" data-id="{{_id}}" tabindex="-1" aria-hidden="true">
	{{{displayTitle}}}
</button>
